@import "_variable.scss";
@import "_mixin.scss";

*{padding: 0; margin: 0;box-sizing: border-box;}

//this is navbar area 

//navbar area 

//header area
.title-h1{
    font-size: 3.3rem; 
}
.btn1{
    background: $hover;
    color: $pcolor;
    &:hover{
        box-shadow:$shadow;
        color: $pcolor;
    }
}
.btn2{
    border:2px solid $hover;
    color:#ccf;
}

.btnp{
    border: none;
}
//global button group
.button-group{
    @include pflex;
    & button{
        @include cflex;
        &:hover{
            background: $hover;
            box-shadow: $shadow;
            color:$pcolor;
            transition: 0.4s;
        }
    } 
}

//brand area 
.left-col-brand{
      @include pflex;
    .image-brand{
       @include imgflex; 
     &:hover{
       box-shadow:$shadow;  
       transform: scale(1.2);
       transition: 0.3s;
        > img{
           filter: brightness(0.15); 
             }
         }
    }     
}

.exp1{
    background:$hover;
    height: auto;
    box-shadow:$shadow;
}
.exp-area{
  padding-left: 20px;
}
.text-right{
    font-size: 4rem;
}
//end of bran area

//project area
.img{
    &:hover{
        box-shadow:$shadow;
        transition: 0.4s;
    }
}

//services area
.services:hover{
    box-shadow: $shadow;
     &.services{
        transform: scale(1.08);
        transition: 0.3s ease;
    }
}
//CONTECT INFO FORM 

//footer area ebd
.footer-area{
    background: url("../img/footer-bg.png");
    padding: 100px;
    bottom: 0px;
    .fa{
        color: pink;
        font-size: 2rem;
        margin: 20px 10px;
        padding: 5px;
        &:hover{
            transform: scale(1.3);
             color: #9099ff;
        }
    }
}

