* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-h1 {
  font-size: 3.3rem;
}

.btn1 {
  background: linear-gradient(120deg, #cc99ff, #9999ff);
  color: white;
}

.btn1:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  color: white;
}

.btn2 {
  border: 2px solid linear-gradient(120deg, #cc99ff, #9999ff);
  color: #ccf;
}

.btnp {
  border: none;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-group button {
  width: auto;
  height: auto;
  margin: 0px 10px 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

.button-group button:hover {
  background: linear-gradient(120deg, #cc99ff, #9999ff);
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.left-col-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-col-brand .image-brand {
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: auto;
  height: 5rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  border: 1px solid gray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-col-brand .image-brand:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left-col-brand .image-brand:hover > img {
  -webkit-filter: brightness(0.15);
          filter: brightness(0.15);
}

.exp1 {
  background: linear-gradient(120deg, #cc99ff, #9999ff);
  height: auto;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.exp-area {
  padding-left: 20px;
}

.text-right {
  font-size: 4rem;
}

.img:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: black;
}

.services:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.services:hover.services {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-area {
  background: url("../img/footer-bg.png");
  padding: 100px;
  bottom: 0px;
}

.footer-area .fa {
  color: pink;
  font-size: 2rem;
  margin: 20px 10px;
  padding: 5px;
}

.footer-area .fa:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #9099ff;
}
/*# sourceMappingURL=main.css.map */